
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />


    <style>
        .btn a {color:white;text-decoration:none}
        body {background-color:#f1f1f1;}
    </style>
    
    
    <title>Index</title>
</head>
<body>
    <div class="text-center">
        @ViewBag.Greeting World (from the view)
        <p>
            <h2>we are goin to a exciting party </h2><br>
            <img @ViewBag.Image />
            <h3>And you are invited</h3>
            (to do: sell it better. Add Pictures or someting.)
        </p>
        <div class="btn btn-success">
            @Html.ActionLink("RSVP Now", "RsvpForm") trebuie sa accesezi pe cuvint pentru ca acesta are forma unui buton dar el este linc si cuvintul reprezinta lincul dat. @*/* RsvpForm   este filul cshtm cu care face legatura action linkul  RSVP Now */*@
        </div>
    </div>
</body>
</html>
